#arrayContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    width: 500px;
    height: 500px;
}

#arrayContainer div{
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: x-small;
}