#arrayContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    width: 500px;
    height: 500px;
}

#arrayContainer div{
    width: 20px;
    background-color: black;
}